.navbar-two {
  padding: .75rem 0 .75rem 0;
  color: #fffffe;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: auto;
  background-color: #11101A;
 
}

a {
  text-decoration: none;
  color: #fffffe;
  font-size: 1.5rem;
}

button {
  background-color: #ff8906;
  border: none;
  border-radius: 0.15rem;
  text-align:center;
  text-transform:uppercase;
}


.wines {
  display: flex;
  justify-content: center;
  color: #fffffe;
}
/* button :hover {
  border: 0.16em solid #FFFFFE;
} */

