
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fffffe;
}

input {
  height: 1.5rem;
  width: 10rem;
  background-color: #11101A;
  border-radius: .5rem;
  color: #fffffe;
  margin-bottom: 1rem;
}

select {
  height: 1.5rem;
  width: 15rem;
  background-color: #11101A;
  border-radius: .5rem;
  color: #fffffe;
  margin-bottom: 1rem;
}

.form-button {
  background-color: #e53170;
  border-radius: .5rem;
  height: 1.7rem;
  width: 8rem;
  margin-bottom: 3rem;
  color:#fffffe;
}

button:hover {
  background-color: #fab856;
}

label {
  color: black;
}